body { 
	background: url(ProjectImg/blackmax.jpg) no-repeat center center fixed; 
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
  }
 
.bouncingImages {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	bottom: 10px;
}

.bouncingImages2 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	right: 1px;
}

 .bouncingImages3 {
	position: absolute;
	width: 193px;
	height: 190px;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	
}

.bouncingImages4 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.bouncingImages5 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.bouncingImages6 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
} 

 .bouncingImages7 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.bouncingImages8 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
} 
