 body{
    background: url(ProjectImg/StrayLogo.jpg) no-repeat right black; 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    position: relative; 
    /* positioned to it's normal posistion */
    width: 1800px;
    height: 400px;
    border-radius: 10px;
}

.container .Profile{
    position: relative;
    width: calc(400px - 30px);
    height: calc(400px - 30px);
    background: gray;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    /* figures out how the height and the width of an element should be calculated */
    overflow: hidden;
    /* clips the content or adds a scroll bar but now it makes the rest of the content not visible */
    border-radius: 10px;
}

.container .Profile .ProfileImg{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    width: 400px;
    transition: 0.5s;
    z-index: 1;
    /* sets a stack order */
}

.container .Profile:hover .ProfileImg{
    top:20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .Profile .content{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.container .Profile:hover .content{
    top: 100px;
}

.container .Profile .content b{
    font-size: 22px;
}

a{
    color: black
}